/* @font-face { font-family: "Tratex"; src: url("/TratexSvart.ttf"); } */
/* @font-face { font-family: "TratexVersal"; src: url("/TratexPosVersal.TTF"); } */

:root{ --SK_SCALE: 2; }
body{ font-size: calc(16px * var(--SK_SCALE)); }

text, vagnr{
    padding-top: calc(5px * var(--SK_SCALE));
    padding-bottom: calc(5px * var(--SK_SCALE));
    border-width: calc(2px * var(--SK_SCALE));
    border-style: solid;
    display: inline-block;
    font-family: "Tratex";
    line-height: 30px;
    vertical-align: top;
}

text{
    border-color: transparent;
}

vagnr{
    border-radius: calc(5px * var(--SK_SCALE));
    padding-left: calc(8px * var(--SK_SCALE));
    padding-right: calc(8px * var(--SK_SCALE));
}

vagnr.blue, skylt.blue{
    background-color: navy;
    color: white;
    border-color: white;
}

.dashed{
    position: relative;
}

.dashed::before{
    content: "";
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    pointer-events: none;
    position: absolute;
    display: block;
    border-width: calc(2px * var(--SK_SCALE));
    border-style: dashed;
    border-color: inherit;
    border-radius: calc(4px * var(--SK_SCALE));;
}

element{
    display: block;
    line-height: 0;
}

element.left{
    float: left;
}

element.right{
    float: right;
}
